%h3= t('user_ads.update_ads')

= simple_nested_form_for @ad, :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :body, as: :text, input_html: { class: 'input-xxlarge' }
  = f.association :type, as: :radio_buttons
  = f.label :state
  = f.collection_select :state_event, @ad.state_transitions, :event, :human_to_name, :include_blank => @ad.human_state_name
  %br
  = f.fields_for :images
  = f.link_to_add t('user_ads.add_image'), :images
  %br
  %br
  %br
  = f.button :submit, label: "Редактировать"

= link_to t('views.link.back'), ads_path
|
= link_to t('views.link.show'), @ad
