%h3= t('.header')

%p#notice= notice
= form_tag(ads_path, class: "form-inline", method: :get) do
  = text_field_tag :query, params[:query], class: "typeahead", id: "ads_search", autocomplete: "off"
  .form-action
    = submit_tag t("search_sort.submit"), class: "btn btn-primary"
    - if params[:query].present?
      = link_to t("search_sort.clear"), ads_path, class: "btn"


%table.table
  %tr
    %th= Ad.human_attribute_name :updated_at
    %th= Ad.human_attribute_name :title
    %th= Ad.human_attribute_name :state
    %th
    %th
    %th
  - @ads.each do |ad|
    %tr
      %td= l(ad.updated_at, format: :long)
      %td= ad.title
      %td= ad.human_state_name
      %td= link_to t('links.show'), ad
      %td= state_edit_ad(ad)
      %td= state_destroy_ad(ad)

%br

= link_to t('.new_ads'), new_ad_path
