%h3= t('user_ads.header')

%p#notice= notice

= form_tag(ads_path, class: "form-inline", method: :get) do
  .input-group.input-group-lg
    - if params[:query].present?
      .input-group-btn
        = link_to "clear", ads_path, class: "btn btn-default"
    = text_field_tag :query, params[:query], class: "form-control", id: "ads_search", autocomplete: "off"
    .input-group-btn
      = submit_tag "Search", class: "btn btn-primary"

= form_tag do
  = text_field_tag 'name', '', :autocomplete => autocomplete_ads_path



%table.table
  %tr
    %th= t('table.date')
    %th= t('table.title')
    %th= t('table.state')
    %th
    %th
    %th
  - @ads.each do |ad|
    %tr
      %td= ad.updated_at.to_s(:for_manage)
      %td= ad.title
      %td= ad.human_state_name
      %td= link_to t('views.link.show'), ad
      %td= state_edit_ad(ad)
      %td= state_destroy_ad(ad)

%br

= link_to t('user_ads.new_ads'), new_ad_path
