%h3 Listing ads

%p#notice= notice

%table.table
  %tr
    %th Date
    %th Title
    %th State
    %th
    %th
  - @ads.each do |ad|
    %tr
    %td
      = ad.updated_at.to_s(:for_manage)
    %td
      = ad.title
    %td
      = ad.state
    %td
      = link_to 'Show', ad
    %td
      = state_edit_ad(ad)
    %td
      = state_destroy_ad(ad)

%br

= link_to 'New Ad', new_ad_path
