%h1 Listing ads

%table.table
  %tr
    %th
    %th
    %th
    %th
    %th
  - @ads.each do |ad|
    %tr
    %td
      = ad.title
    %td
      = ad.state
    %td
      = link_to 'Show', ad
    %td
      = state_edit_ad(ad)
    %td
      = state_destroy_ad(ad)

%br

= link_to 'New Ad', new_ad_path
