%h3= t('.header')

= simple_nested_form_for @ad, :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :body, as: :text, input_html: { class: 'input-xxlarge' }
  = f.association :type, as: :radio_buttons
  %br
  = f.fields_for :images
  %br
  = f.link_to_add t('ads.add_image'), :images
  %br
  %br
  %br
  %div
    %br
    = f.button :submit

= link_to t('links.back'), ads_path