%h3
  = t("types.header")
%p#notice= notice
%table.table
  %tr
    %th
      = t("types.header_table")
    %th
    %th
    %th

  - @manage_types.each do |manage_type|
    %tr
      %td= 	manage_type.name
      %td= link_to t("views.link.destroy"), manage_type_path(manage_type), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t("types.link_new"), new_manage_type_path
