%h3= t('manage_ads.editing_ad')

.row
  %div{class: "itemad span9 well"}
    %h3= @manage_ad.title
    %p= @manage_ad.body.html_safe


    - for image in @manage_ad.images
      %p= image_tag image.photo.url(:mini) if image.photo?
      %p= image.name
    %br
    %hr
    - if @manage_ad.state == 'new'
      %h5= t('manage_ads.manage')
      = render 'form'

= link_to t('views.link.back'), manage_ads_path
