.page-header
  %h3
    = t('manage_ads.header')
%p#notice= notice

= search_form_for(@search, url: search_manage_ads_path, method: :post) do |f|
  = t('manage_ads.sort')
  = f.condition_fields do |c|
    = render "condition_fields", f: c 

  .field
    = f.label :title_cont, t('search_sort.find_by_header')
    = f.text_field :title_cont
  .action
    = f.submit t('search_sort.submit')

%table.table
  %tr
    %th 
      = sort_link @search, :title, t('search.title')
    %th 
      = sort_link @search, :updated_at, t('search.date')
    %th
      = sort_link @search, :type_name, t('search.type')
    %th 
      = sort_link @search, :state, t('search.state')
    %th 
      = t('manage_ads.аuthor')
    %th
    %th

  - @manage_ads.each do |manage_ad|
    %tr      
      %td
        = manage_ad.title
      %td
        = manage_ad.updated_at.to_s(:for_manage)
      %td
        = manage_ad.type.name
      %td
        = manage_ad.human_state_name
      %td
        = manage_ad.user.username
      %td
        = link_to t('manage_ads.edit'), edit_manage_ad_path(manage_ad.id)
      %td
        = link_to t('views.link.destroy'), manage_ad_path(manage_ad.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
