.page-header
  %h3= t('.header')
%p#notice= notice

= search_form_for(@search, url: search_manage_ads_path, method: :post) do |f|
  = t('search_sort.sort_for')
  = f.condition_fields do |c|
    = render "condition_fields", f: c 

  .field
    = f.label :title_cont, t('search_sort.find_by_header')
    = f.text_field :title_cont
  .action
    = f.submit t('search_sort.submit')

%table.table
  %tr
    %th 
      = sort_link @search, :title
    %th 
      = sort_link @search, :updated_at
    %th
      = sort_link @search, :type_name
    %th 
      = sort_link @search, :state
    %th 
      = t('.аuthor')
    %th
    %th

  - @manage_ads.each do |manage_ad|
    %tr      
      %td
        = manage_ad.title
      %td
        = l(manage_ad.updated_at, format: :long)
      %td
        = manage_ad.type.name
      %td
        = manage_ad.human_state_name
      %td
        = manage_ad.user.username
      %td
        = link_to t('.edit'), edit_manage_ad_path(manage_ad.id)
      %td
        = link_to t('links.destroy'), manage_ad_path(manage_ad.id), :method => :delete, :data => { :confirm => t('links.confirm') }

%br
