= simple_form_for(@manage_user, url: manage_user_path(@manage_user), html: { method: :put }) do |f|
  = f.error_notification
  %div
    = f.label :username
    = f.text_field :username
    %br
    = f.label :email
    = f.email_field :email
    %br
    - unless @manage_user == current_user
      = f.label :role
      = collection_select(:role, :id, Role.all, :id, :name)
    %br
    = f.button :submit