%h3= t('.header')

%p#notice= notice
%table.table
  %tr
    %th= 'ID:'
    %th= User.human_attribute_name :username
    %th= User.human_attribute_name :email
    %th= Role.human_attribute_name :name
    %th
    %th
    %th

  - @manage_users.each do |manage_user|
    %tr
      %td= manage_user.id
      %td= manage_user.username
      %td= manage_user.email
      %td= manage_user.role.name
      %td
        = link_to t('links.show'), manage_user_path(manage_user)
      %td
        = link_to t('links.edit'), edit_manage_user_path(manage_user)
      %td
        = link_to t('links.destroy'), manage_user_path(manage_user), :method => :delete, :data => { :confirm => t('links.confirm') }


