%p#notice= notice

%p
  %b= t('manage_users.name')
  = @manage_user.username
%p   
  %b= t('manage_users.email')
  = @manage_user.email
%p   
  %b= t('manage_users.role')
  = @manage_user.role.name
%p   
  %b= t('manage_users.date_reg')
  = @manage_user.created_at


%br
= link_to t('views.link.edit'), edit_manage_user_path(@manage_user)
\|
= link_to t('views.link.back'), manage_users_path
