%p#notice= notice

%p
  %b= User.human_attribute_name :username
  = @manage_user.username
%p   
  %b= User.human_attribute_name :email
  = @manage_user.email
%p   
  %b= Role.human_attribute_name :name
  = @manage_user.role.name
%p   
  %b= User.human_attribute_name :create_at
  = @manage_user.created_at


%br
= link_to t('links.edit'), edit_manage_user_path(@manage_user)
\|
= link_to t('links.back'), manage_users_path
