%p#notice= notice

%p
  %b
    = "Name: "
  = @manage_user.username
%p   
  %b
    = "Email: "
  = @manage_user.email
%p   
  %b
    = "Role: "
  = @manage_user.role.name
%p   
  %b
    = "Date of registration: "
  = @manage_user.created_at


%br
= link_to 'Edit', edit_manage_user_path(@manage_user)
\|
= link_to 'Back', manage_users_path
