%h3= t('.header')
%p#notice= notice
.row
  %div{class: "itemad span8 well"}
    %b
      = t("search_sort.header")
    %br
      = t("search_sort.sort_for")
    = sort_link @search, :title, t("search.title")
    = sort_link @search, :updated_at, t("search.date")
    = sort_link @search, :type_name, t("search.type")
    %br
    = render "search_field", locals: {search: @search}
.row
  - @ads.each do |ad|
    .itemad.span8.well
      = link_to ad.title, show_path(ad)
      .row
        %small.span2
          = t('.author', user: ad.user.username)
        %small.span2
          = t('.type',field: Type.human_attribute_name('name'), value: ad.type.name)
        %small.span3
          = l(ad.updated_at, format: :long)


.digg_pagination
  = will_paginate @ads, container: false, previous_label: "Предыдущая", next_label: 'Следующая'


