%ul{class: "breadcrumb"}
  %li
    %a{title: '@title', href: '#'} Главная
    %span.divider= '/'

.page-header
  %h3 Объявления:

.row
  - @ads.each do |ad|
    %div{class: "itemad span8 well"}
      = link_to ad.title, show_path(ad)
      .row
        %small{class: "span2"} Автор: #{ad.user.username}
        %small{class: "span2"} Тип: #{ad.type.name}
        %small{class: "span3"} Дата: #{ad.created_at}


= will_paginate @ads, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: 'Следующая'


