%div.row
  .itemad.span9.well
    %h3= @ad.title
    %p= @ad.body.html_safe
    - for image in @ad.images
      .gal
        %p= image_tag image.photo.url(:mini) if image.photo?
        %p= image.name
    %p= link_to t("views.link.back"), controller: :index

