<div class="span3">
 <div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">
   <li class="nav-header">Меню</li>
   <li class="active"><a href="#">Главная</a></li>
                  <% if user_signed_in? %>
                  <li><%= link_to 'Профиль', edit_user_registration_path %></li>
                  <li><a href="#">Настройки</a></li>
                  <li><%= link_to 'Объявления', ads_path %></li>
                  <li><%= link_to 'Выход', destroy_user_session_path, method: :delete%></li>
                  <%else%>
                  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
                  <li><%= link_to 'Вход', new_user_session_path %></li>
                  <% end %>


                  <li class="divider"></li>
                  <li><a href="#">Помощь</a></li>
  </ul>
 </div>
</div>