%h1 Listing images

%table
  %tr
    %th Ad
    %th Name
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.ad_id
      %td= image.name
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => t('links.confirm') }

%br

= link_to 'New Image', new_image_path
