.span3
  %div{class: "well"}= "Вы вошли как: #{current_user.username}" if user_signed_in?

  %div{class: "well", style: "padding: 8px 0;"}
    %ul{class: "nav nav-list"}
      %li{class: "nav nav-list"}
        %strong Меню
      %li{class: "divider", style: "padding: 8px 0;"}
      %li
        %a{title: '@title', href: '/'} Main
        - if can? :enter, :user_pages
          %li= link_to 'Profile', edit_user_registration_path
          %li= link_to 'My ads', ads_path
          %li
            %a{title: '@title', href: '#'} Settings
          %li= link_to 'Exit', destroy_user_session_path, method: :delete
        - if can? :enter, :admin_zone
          %li= link_to 'Users management', manage_users_path
          %li= link_to 'Types management', manage_types_path
          %li= link_to 'Ads management', manage_ads_path
          %li= link_to 'Exit', destroy_user_session_path, method: :delete
        - if can? :enter, :reg_block
          %li= link_to 'Sign up', new_user_registration_path
          %li= link_to 'Sign in', new_user_session_path

        %li{class: "divider", style: "padding: 8px 0;"}


